@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*, *:before, *:after {
  	-webkit-box-sizing: inherit;
  	   -moz-box-sizing: inherit;
  	        box-sizing: inherit;
}
body {
	background-color: #0a2345; 
	font-family: 'Montserrat', Helvetica, sans-serif;
	background: #0a2345;
  	background: linear-gradient(#0a2345, #000);
}
button {
	border-radius: 20px;
	border: 1px solid #11335f;
	background-color: transparent;
	font-size: .6em;
	font-weight: 600;
	color: #fff;
	padding: 9px 35px;
	margin: 20px 0;
}
h1,h2,h3,h4,h5,h6 {
	color: #fff;
	padding-top: 13px;
	margin: 0;
	font-weight: 400;
}
h1,h2 {
	font-size: 1.7em;
	margin-bottom: 25px;
}

/**********************************
*             SECTIONS            *
***********************************/ 
section {
	padding: 10% 0;
	display: block;
	width: 100%;
}

/* --------------------------------
HEADER 
----------------------------------*/ 
header {
	max-width: 900px;
	margin: 0 auto;
}
#nav-toggle{
	float: right;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  	cursor: pointer;
  	border-radius: 1px;
  	height: 2px;
 	width: 28px;
  	background: #2a5da3;
 	position: absolute;
  	display: block;
  	content: '';
}
#nav-toggle span:before {
  	top: -10px;
}
#nav-toggle span:after {
  	bottom: -10px; 
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  	transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  	background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  	top: 0;
}
#nav-toggle.active span:before {
  	transform: rotate(45deg);
}
#nav-toggle.active span:after {
  	transform: rotate(-45deg);
}

/* --------------------------------
LANDING SECTION
----------------------------------*/ 
section#landing {
	text-align: center;
	margin: 0 auto;
	display: block;
}

/* --------------------------------
DISPLAY SECTION
----------------------------------*/
section#display {
	background-image: url(../images/display-background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	/*background: url(../images/display-background.png) no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;*/

}
section#display img {
	width: 60%;
	display: block;
	margin: 0 auto;
}
/* --------------------------------
HEADPHONES SECTION
----------------------------------*/
section#headphones .inner-container {
	padding: 50px 0;
	max-width: 450px;
}
section#headphones img {
	width: 100%;
	padding-right: 60px;
}

/* --------------------------------
FEATURES SECTION
----------------------------------*/

/* --------------------------------
SIDEWAYS SECTION
----------------------------------*/

/* --------------------------------
TESTIMONIAL SECTION
----------------------------------*/

/* --------------------------------
DOWNLOAD SECTION
----------------------------------*/

/* --------------------------------
FOOTER 
----------------------------------*/


/**********************************
*             COLUMNS             *
***********************************/ 

/* --------------------------------
TWO COLUMN LAYOUT
----------------------------------*/ 
.col-half {
    vertical-align: middle;
    display: inline-block;
    width: 49%;
}
/* --------------------------------
THREE COLUMN LAYOUT
----------------------------------*/
.col-thirds {
	vertical-align: middle;
    display: inline-block;
    width: 33%;
}






























