@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*, *:before, *:after {
  	-webkit-box-sizing: inherit;
  	   -moz-box-sizing: inherit;
  	        box-sizing: inherit;
}
body {
	background-color: #0a2345; 
	font-family: 'Montserrat', Helvetica, sans-serif;
	background: #0a2345;
  	background: linear-gradient(#0a2345, #000);
}
button {
	border-radius: 20px;
	border: 1px solid #164077;
	background-color: transparent;
	font-size: .6em;
	font-weight: 600;
	color: #fff;
	padding: 9px 35px;
	margin: 20px 0;
}
button:hover {
	background-color: #164077;
	-webkit-transition: all 300ms ease-in;
       -moz-transition: all 300ms ease-in;
         -o-transition: all 300ms ease-in;
            transition: all 300ms ease-in;
}
button:visited, button:active, button:focus {
	outline: none;
}
p {
	font-size: .5em;
	color: #435670;
	line-height: 2.8em;
}
a {
	text-decoration: none;
	color: inherit;
}
h1,h2,h3,h4,h5,h6 {
	color: #fff;
	padding-top: 13px;
	margin: 0;
	font-weight: 400;
}
h1 {
	font-size: 1.2em;
	font-weight: 800;
}
h1 img {
	vertical-align: middle;
	margin-right: 15px;
	width: 50px;
}
h2 {
	font-size: 1.7em;
	margin-bottom: 25px;
}
span.bright-blue {
	color: #2a5da3;
}
span.blue {
	color: #11335f;
}
h3 {
	font-size: .9em;
	font-weight: 100;
}
.icon {
	max-width: 28px;
}



/*******************************************
*                 SECTIONS                 *
********************************************/ 
section {
	padding: 11% 0;
	display: block;
	width: 100%;
}

/* ------------------------------------------
HEADER 
--------------------------------------------*/ 
header {
	max-width: 900px;
	margin: 0 auto;
	padding-top: 10px;
}
header:after {
  	content: "";
  	display: table;
  	clear: both;
  	zoom: 1; 
}
#nav-toggle{
	float: right;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  	cursor: pointer;
  	border-radius: 1px;
  	height: 3px;
 	width: 25px;
  	background: #2a5da3;
 	position: absolute;
  	display: block;
  	content: '';
}
#nav-toggle span:before {
  	top: -7px;
}
#nav-toggle span:after {
  	bottom: -7px; 
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  	-webkit-transition: all 500ms ease-in-out;
       -moz-transition: all 500ms ease-in-out;
         -o-transition: all 500ms ease-in-out;
            transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  	background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  	top: 0;
}
#nav-toggle.active span:before {
  	-webkit-transform: rotate(45deg);
  	   -moz-transform: rotate(45deg);
  	    -ms-transform: rotate(45deg);
  	     -o-transform: rotate(45deg);
  	        transform: rotate(45deg);
}
#nav-toggle.active span:after {
  	-webkit-transform: rotate(-45deg);
  	   -moz-transform: rotate(-45deg);
  	    -ms-transform: rotate(-45deg);
  	     -o-transform: rotate(-45deg);
  	        transform: rotate(-45deg);
}

/* ------------------------------------------
LANDING SECTION
-------------------------------------------*/ 
section#landing {
	text-align: center;
	margin: 0 auto;
	display: block;
}

/* ------------------------------------------
DISPLAY SECTION
-------------------------------------------*/
section#display {
	background-image: url(../images/display-background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
section#display img {
	width: 60%;
	display: block;
	margin: 0 auto;
}

/* ------------------------------------------
HEADPHONES SECTION
-------------------------------------------*/
section#headphones .inner-container {
	padding: 50px 0;
	max-width: 450px;
}
section#headphones img {
	width: 100%;
	padding-right: 60px;
}

/* ------------------------------------------
FEATURES SECTION
-------------------------------------------*/
section#features {
	max-width: 900px;
	margin: 0 auto;
}
section#features h2 {
	text-align: center;
	padding-bottom: 3em;
}
.features-subsection {
	margin: 30px 0;
	max-width: 270px;
}
.features-mockup img {
	width: 65%;
	margin: 0 10% 0 10%;
	display: block;
}
.radial-gradient {
	background: url(../images/radial-gradient.png) no-repeat center center;
	background-size: 50%;
	height: 130px;
	margin: -70px 0 0 -40px;
}

/* ------------------------------------------
SIDEWAYS SECTION
-------------------------------------------*/
section#sideways {
	background-image: url(../images/sideways-mockups.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;
}
section#sideways .sideways-container {
	max-width: 900px;
	margin: 0 auto;
}

/* ------------------------------------------
TESTIMONIAL SECTION
-------------------------------------------*/
section#testimonial {
	height: 366px;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}
.slide-1 {
	background-image: url(../images/testimonial-background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	min-height: 380px;
}
.slide-2 {
	background-image: url(../images/testimonial-background-reversed.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100% ;
	min-height: 380px;
}
p.slide-text {
	text-align: center;
	color: #607187;
	font-size: 1em;
	line-height: 2.2em;
	max-width: 620px;
	margin: 0 auto;
	padding-top: 100px;
}
p.testimonial-text {
	text-align: center;
	padding-top: 30px;
}
img.slide-photo {
	width: 40px;
	vertical-align: middle;
	display: inline;
	margin: 0px 15px 0 0;
	text-align: center;
	border-radius: 50%;
}

/* ------------------------------------------
DOWNLOAD SECTION
-------------------------------------------*/
section#download {
	background-color: #000;
	margin: 0 auto;
	text-align: center;
}
section#download img {
	padding-top: 70px;
	width: 65%;
	margin-left: -10px;
}
section#download button {
	margin: 0 auto;
	display: block;
	margin-top: 70px;
	padding: 9px 20px;
}
section#download p {
	max-width: 420px;
	text-align: center;
	margin: 0 auto;
}

/* ------------------------------------------
FOOTER 
-------------------------------------------*/
footer {
	padding-top: 60px;
	margin: 0 auto;
	max-width: 900px;
	display: block;
	background-color: #000;
}
footer ul {
	display: inline-block;
}
footer ul li{
	padding: 0 6px 0 0;
	font-size: .5em;
	color: #164077;
	display: inline-block;
	list-style-type: none;
}
footer ul.copyright {
	text-align: right;
}



/*******************************************
*                  COLUMNS                 *
********************************************/ 

/* ------------------------------------------
TWO COLUMN LAYOUT
-------------------------------------------*/
.col-half {
    vertical-align: middle;
    display: inline-block;
    width: 49%;
}
/* ------------------------------------------
THREE COLUMN LAYOUT
-------------------------------------------*/
.col-thirds {
	vertical-align: middle;
    display: inline-block;
    width: 33%;
}



/*******************************************
*               MEDIA QUERIES              *
********************************************/ 

@media only screen and (max-width: 910px) {
	header, footer, section#features, section#sideways .sideways-container{
		max-width: 800px;
	}
    .col-thirds {
    	width: 32.5%;
    }
    .features-mockup img {
		width: 75%;
		margin: 0 10% 0 10%;
		display: block;
	}
	.radial-gradient {
		margin: -65px 0 0 -30px;
	}
}
@media only screen and (max-width: 830px) {
	header, footer, section#features, section#sideways .sideways-container{
		max-width: 700px;
	}
	section#headphones .inner-container, section#features .features-subsection {
		max-width: none;
	}
	section#headphones img {
		width: 100%;
		padding-right: 10px;
	}
	.radial-gradient {
		margin: -85px 0 0 -30px;
	}
}
@media only screen and (max-width: 730px) {
	header, footer, section#features, section#sideways .sideways-container, section#features .features-subsection{
		margin: 0 10px;
	}
	#nav-toggle {
		padding-right: 30px;
	}
	.radial-gradient {
		margin: -75px 0 0 -25px;
	}
}
@media only screen and (max-width: 680px) {
	footer ul.col-half {
		display: block;
		width: 100%;
		text-align: right;
	}
	footer ul li a {
		font-size: 1.4em;
		padding: 0 0 0 7px;
	}
	p {
		font-size: .6em;
	}
	.radial-gradient {
		display: none;
	}
}
@media only screen and (max-width: 510px) {
	body {
		margin-right: -25px;
	}
	p {
		font-size: .7em;
	}
	header, footer, section#features, section#sideways .sideways-container{
		padding-left: 0px;
	}
	section#sideways .sideways-container p, section#headphones .inner-container p, section#download p {
		text-align: justify;
		margin: 0 8px;
	}
	section#download p {
		max-width: none;
		text-align: center;
	}
	section#headphones img {
		width: 70%;
		display: block;
	}
	section#features .features-mockup {
		display: none;
	}
	section#features .icon, section#features {
		margin: 0 auto;
		display: block;
		text-align: center;
		width: 400px;
	}
	section#display img#display-mockup {
		width: 90%;
	}
	.col-thirds {
		width: 49%;
	}
	section .col-half{
		display: block;
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}
	section.col-half p {
		padding: 0 0 0 8px;
	}
}
@media only screen and (max-width: 400px) {
	.col-thirds {
		display: block;
		width: 100%;
	}
	h1,h2 {
		font-size: 1.3em;
	}
}




